#level span {
    border: 3px solid black;
    padding: 30px;
    max-width: 50px;
    margin: 30px;
}

div {
    margin-top: 30px;
}

#lettersRow1 span {
    padding: 10px;
    border: 2px solid blue;
    background-color: yellow;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#lettersRow2 span {
    padding: 10px;
    border: 2px solid blue;
    background-color: yellow;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    padding-bottom: 2px;
    margin-bottom: 2px;
}

img {
    padding-bottom: 0px;
}