body {
    background-image: url(images/forest.jpg);
}


#level span {
    border: 3px solid green;
    padding: 30px;
    margin: 10px;
    max-height: 50%;
    background-color: whitesmoke;
    font-size: 3vh;
}

#level {
    display: flex;
    justify-content: center;
}

div {
    margin-top: 5px;
}

#lettersRow1.chooseLetters {
    display: flex;
    justify-content: center;
}

#lettersRow2.chooseLetters {
    display: flex;
    justify-content: center;
}


#lettersRow1 span {
    padding: 10px;
    border: 3px solid green;
    background-color: yellow;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

#lettersRow2 span {
    padding: 10px;
    border: 3px solid green;
    background-color: yellow;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 8px;
    margin-left: 3px;
    margin-right: 3px;
}

h1 {
    text-align: center;
    padding-bottom: 2px;
    margin-bottom: 2px;
    margin-top: 5px;
    font-size: 3em;
    color: green;
}

h2 {
    /* display: inline-flex; */
    /* justify-content: center; */
    font-size: 3em;
    margin-top: 2px;
    margin-bottom: 5px;
    /* margin-inline-start: 50px; */
    /* margin-inline-end: 50px; */
}

img {
    padding-bottom: 0px;
    height: 225px;
    display: block;
    justify-self: center;
}

#playLevel {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
    color: green;
}

.tries {
    display: flex;
    justify-content: center;
    font-size:larger;
    font-weight: bold;
}

#numberTries {
    padding: 5px;
    color: green;
    font-weight: bolder;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    border: green;
}

#buttons button {
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 15px;
    font-size: medium;
}

#play, #reset {
    margin: 0px 5px 0px 5px;
}

#guessAgain, #nextLevel {
    color: aqua;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: larger; 
}

#winner {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
    color: white;
    padding: 10px;
    margin: 25px;
}


